.form {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 8px;
  background: rgba(115, 52, 186, 0.571);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 28px;
  margin-right: 18px;
  color: #ffffff;
  font-style: bold;
  background-color: transparent;
}
.input__name {
  width: 100px;
}
.input__data {
  margin: 0;
  /* width: 100%; */
  max-width: 640px;
  padding: 4px;
  margin-left: 18px;
  font-size: 20px;
  outline: 2px solid #ffffff;
  border: 1px solid #991b95;
  border-radius: 8px;
  background-color: #ffffff;
  color: #212121;
  transition: all cubic-bezier(0.25s, 0.7, 0.98, 0.86) 0s;
}
.input__data:focus {
  outline: 2px solid #991b95;
}

.add__button {
  display: block;
  font-size: 20px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: 18px;
  transition: all cubic-bezier(0.25s, 0.7, 0.98, 0.86) 0s;
  cursor: pointer;
  padding: 4px 16px 4px;
  text-transform: capitalize;
  color: #991b95;
  background-color: #e1badfaf;
  border-radius: 8px;
  border: 1px solid #590a56;
  font-weight: 600;
  box-shadow: 1px 1px 2px #c860c5;
  transition: background-color 250ms linear;
}

.add__button:hover,
.add__button:focus {
  background: rgb(240, 240, 240);
  box-shadow: 0px 3px 10px 3px #51234f;
}
.field {
  position: relative;
  width: 100%;
}
.error__message {
  position: absolute;

  margin: 0;

  font-size: 12px;
  color: rgb(248, 162, 162);
}
