.container {
  display: flex;
  flex-direction: column;

  width: 480px;
  margin: 0 auto;
  padding: 12px;
  background: rgb(200, 50, 115);
  background: linear-gradient(
    79deg,
    rgba(200, 50, 115, 1) 25%,
    rgba(88, 52, 186, 1) 60%
  );
}
.title {
  color: rgb(22, 17, 89);
}
.title__contacts {
  color: rgb(22, 17, 89);
}
.main {
  background: rgb(200, 50, 169);
  background: linear-gradient(
    180deg,
    rgba(200, 50, 169, 0.5) 25%,
    rgba(115, 52, 186, 0.5) 60%
  );
}
